.page-info
  .brading-info
    margin: 10px 0
  .symbol-info-2
    margin: 10px 0

$home    : ("home",         -580  010, -360  090, -350  120,  -70  10)
$a       : ("1",            -364  080, -253 -119, -253 -119,   50  831)
$about   : ("about",        -190  -20,  -90  -20,  -90  -20, -180  270)
$b       : ("2",             030  030,  130  030,  130  030,   20  280)
$private : ("private-party", 270  -10, -100  540, -115  540,  -60 1090)
$c       : ("3",            -620  280, -520  350,  180  550, -210  562)
$news    : ("news",         -420  300, -333  400, -333  400, -180  760)
$d       : ("4",            -170  270, -110  240, -110  265, -260 1005)
$food    : ("food",          030  240,  110  260,  110  260,    0  500)
$e       : ("5",             250  210,  350  210, -206  840,  -10 1500)
$info    : ("info",          430  290,  240  520,   40  750, -130 1290)
$frames  : $a, $b, $c, $d, $e, $home, $about, $news, $food, $info, $private

.page-home
  .frames
    position: relative
    width: 10px
    margin: 0 auto
  .frame
    position: absolute
    left: 0
    top: 0
    +transition( transform .5s)

@each $pair in $frames
  $position: nth($pair, 2)
  #frame-#{nth($pair, 1)}
    +transform( translate( nth($position, 1) * 1px, nth($position, 2) * 1px ))

+max(1260px)
  @each $pair in $frames
    $position: nth($pair, 3)
    #frame-#{nth($pair, 1)}
      +transform( translate( nth($position, 1) * 1px, nth($position, 2) * 1px ))
+max(910px)
  @each $pair in $frames
    $position: nth($pair, 4)
    #frame-#{nth($pair, 1)}
      +transform( translate( nth($position, 1) * 1px, nth($position, 2) * 1px ))
+max(580px)
  @each $pair in $frames
    $position: nth($pair, 5)
    #frame-#{nth($pair, 1)}
      +transform( translate( nth($position, 1) * 1px, nth($position, 2) * 1px ))


.page-info
  .acf-map
    width: 100%
    height: 300px
    border: #ccc solid 1px
    margin: 20px 0
    position: relative
    +ns
      height: 400px
  #group
    $width: 180px
    $height: $width * 160 / 445
    ul
      margin-top: 30px
    li
      width: $width
      margin: 0 auto
      margin-bottom: 40px
      position: relative
      &::after
        +ninja
        position: absolute
        bottom: -20px
        left: -50px
        right: -50px
        border-bottom: 1px dotted #afc4c7
      +ns
        margin: 0 10px
        display: inline-block
        &::after
          display: none
      img
        margin-bottom: 20px
      a
        display: inline-block
        background: url('images/group-item.png') 0 0 no-repeat
        line-height: 1.2em
        padding-top: 15px
        width: $width
        height: $height - 15px
        +background-size( $width $height )

.page-food
  #features
    h3
      margin-top: 20px
  .meterials-list
    margin-bottom: 80px
    sub
      font-size: .6em
      margin: 10px
      display: block
    img
      margin: 10px
    li
      margin-top: 80px

.page-about
  #history
    strong
      margin-top: 50px
      +ns
        margin-top: 0

.page-news, .page-about, .page-food
  img
    display: block
  p
    display: inline
    br
      display: none
  +ns
    p
      display: block
      br
        display: block


