$pages     : "home",   "about",  "private-party", "info",   "news",   "food"
$bg-colors : "efe7e4", "b2bc8e", "ccb4d6",        "93a1a2", "d6aea8", "dac9a2"



=select( $page )
  @if $page == "news"
    body.page-#{$page}, body.category
      @content
  @else
    body.page-#{$page}
      @content


@for $i from 1 through length($pages)
  $page: nth( $pages, $i )
  $bg-color: unquote( nth( $bg-colors, $i) )
  $bg-size: 200px 300px

  @if $page == "home"
    $bg-size: 500px 500px
  @if $page == "private-party"
    $bg-size: 500px 692px
  @if $page == "food"
    $bg-size: 239px 347px

  +select( "#{$page}" )
    background: url('images/wall-#{$page}.jpg') unquote("##{$bg-color}")
    +background-size($bg-size)

    a
      &.active, &:hover
        color: unquote("#{$bg-color}")
    #content
      h2
        background: url('images/title-#{$page}.png') center center no-repeat
        +background-size(450px 47px)
    #sidebar
      li
        background: url('images/side-hover-#{$page}-right.png') 90% center, url('images/side-hover-#{$page}-left.png') 10% center
        background-repeat: no-repeat
        +background-size(15px 19px, 15px 19px)

    #footer
      background: url('images/wood-#{$page}.jpg') center top repeat-x
      +background-size(125px 80px)

    #background
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      z-index: 100
      opacity: 0.5
      pointer-events: none
      background: url('images/bg-#{$page}.jpg')
      +background-size(1920px * 1440/1920  1040px * 1440/1920)
      display: none