$times: "times regular", times, "HiraMinProN-W3", "LiSungPro", STSong, serif

body, .gm-style
  font-family: $times
p
  font-family: $times

#header
  h1
    font-weight: bold
    letter-spacing: 2px
    font-size: 1.1em
  nav a
    font-size: 0.85em
    letter-spacing: 0.15em

#sidebar
  li
    letter-spacing: 5px
    font-size: .8em

#content
  text-align: center
  color: $text-color
  font-weight: bold
  .entry-date
    font-size: 1.1em
    display: block
    letter-spacing: .1em
  h2, strong
    font-size: 1.15em
    letter-spacing: 0.4em
    &:before
      content: ''
      width: .3em
      height: 10px
      display: inline-block
  .innertext
    br
      display: none
      +ns
        display: block
  p
    font-size: 0.8em
    line-height: 2.15em
    letter-spacing: 0.2em
    display: inline
    +ns
      display: block
  strong
    font-size: 1.65em
    display: block
    margin-bottom: 10px
    font-weight: bold
  h3
    margin-bottom: 5px
    font-weight: bold
    font-size: 1.3em
    letter-spacing: .1em
    line-height: 1.3em
    font-size: 18px
    +ns
      font-size: 21px
      letter-spacing: .32em
  h4
    font-size: 1.2em
    letter-spacing: .3em
  sub
    font-size: .7em
    letter-spacing: .05em
  h6
    font-size: 0.7em
    margin: 10px
    letter-spacing: .1em
  em
    font-weight: bold
  // .innertext
  //   font-size: .8em
  //   line-height: 1.8em

.page-private-party
  #rule, #usage, #options
    .innertext p
      font-weight: bold
.page-food
  #features
    .innertext, .meterials-list, .brief
      p
        font-weight: bold
    sub
      letter-spacing: .2em
      font-weight: normal
.page-news
  #content .entry p
    font-weight: bold
.page-about
  #content p
    font-weight: bold
.page-info
  #map
    h4
      font-weight: bold
  .mh
    .eng-name
      letter-spacing: 0.1em
  .toffee
    .eng-name
      letter-spacing: 0.1em