@import "compass/utilities/general/clearfix"

#wpadminbar
  display: none
html
  padding-top: 60px - 32 + 30 !important

.container
  max-width: 1280px
  margin: 0 auto
  padding: 0 50px
  position: relative

#header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 45px
  line-height: 45px
  #site-title
    float: left
  #menu
    float: right
    li
      display: inline-block
    a
      display: block
      padding: 0 20px

#sidebar
  min-width: 200px
  width: 15%
  img
    width: 100%
    height: auto

#content
  margin-left: 200px
  position: relative
  left: 2%
  padding: 20px


.pull-left
  float: left

.pull-right
  float: right

.clearfix
  +pie-clearfix