@import compass/reset
@import compass/css3/transition
@import compass/css3/background-size
@import _layout
@import _typography

$page-colors: (("home", "#efe7e4", "500px 500px"), ("about" "#b2bc8e"), ("private-party" "#ccb4d6"), ("info" "#afc4c7"), ("news" "#dbb9b4"))

@each $pair in $page-colors
  $page: nth($pair, 1)
  $color: unquote(nth($pair, 2))
  $size: 200px 300px
  @if length($pair) == 3
    $size: unquote(nth($pair, 3))
  body.page-#{$page}
    background: url('images/wall-#{$page}.jpg') $color
    +background-size($size)
    a
      &.active, &:hover
        color: $color
a
  color: #826441
  text-decoration: none
  +transition( color .5s )

#header
  background: rgba( #fff, .8 )
  text-transform: uppercase
main
  background: rgba( #fff, .8 )

#sidebar
  ul
    margin: 50px 10px
  li
    font-size: .8em
    padding-bottom: 15px
    padding-top: 18px
    text-align: center
    margin-bottom: 10px
    background: url('images/side-item.png') 0 0 no-repeat
    +background-size(100% 100%)
  a
    font-weight: bold