@import "compass/reset"
@import "compass/css3/transition"
@import "compass/css3/background-size"
@import "_layout"
@import "_typography"

$page-color: #afc4c7

body
  background: url('images/wall-info.jpg') $page-color
  +background-size(200px 300px)
a
  color: #826441
  text-decoration: none
  +transition( color .5s )
  &.active, &:hover
    color: $page-color

#header
  background: rgba( #fff, .8 )
  text-transform: uppercase
main
  background: rgba( #fff, .8 )

#sidebar
  ul
    margin: 50px 10px
  li
    font-size: .8em
    padding-bottom: 15px
    padding-top: 18px
    text-align: center
    margin-bottom: 10px
    background: url('images/side-item.png') 0 0 no-repeat
    +background-size(100% 100%)
  a
    font-weight: bold