html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#wpadminbar {
  display: none;
}

html {
  padding-top: 88px !important;
}

.container, .frames {
  margin: 0 auto;
  position: relative;
}

.container {
  padding: 0 50px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  line-height: 45px;
  z-index: 9;
}
#header #site-title {
  float: left;
}
#header #menu {
  float: right;
}
#header #menu li {
  display: inline-block;
}
#header #menu a {
  display: block;
  margin-left: 50px;
}

#sidebar {
  min-width: 200px;
  width: 15%;
}
#sidebar img {
  width: 100%;
  height: auto;
}

#content {
  margin-left: 200px;
  margin-bottom: 50px;
  position: relative;
  left: 2%;
  padding: 20px;
  height: 550px;
  overflow: auto;
  border: 20px solid transparent;
}
#content article {
  padding-top: 20px;
  margin-bottom: 50px;
}
#content article .symbol {
  margin-bottom: 10px;
}
#content img {
  max-width: 100%;
  height: auto;
}
#content .acf-map img {
  max-width: none;
}

body {
  font-family: Didot, times, serif;
}

p {
  font-family: times, serif;
}

#header h1 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.1em;
}
#header nav a {
  font-size: 0.8em;
}

#content {
  text-align: center;
  color: #826441;
  font-weight: bold;
}
#content h2, #content strong {
  font-size: 1.2em;
  letter-spacing: 0.3em;
}
#content p {
  font-size: 0.8em;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  font-weight: normal;
}
#content strong {
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#content h3 {
  margin-bottom: 5px;
  font-weight: bold;
}
#content h6 {
  font-size: 0.7em;
  margin-bottom: 10px;
}

body.page-home {
  background: url("images/wall-home.jpg") #efe7e4;
  -webkit-background-size: 500px 500px;
  -moz-background-size: 500px 500px;
  -o-background-size: 500px 500px;
  background-size: 500px 500px;
}
body.page-home a.active, body.page-home a:hover {
  color: #efe7e4;
}
body.page-home #content h2 {
  background: url("images/title-home.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-home #sidebar li {
  background: url("images/side-hover-home-right.png") 90% center, url("images/side-hover-home-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

body.page-about {
  background: url("images/wall-about.jpg") #b2bc8e;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-about a.active, body.page-about a:hover {
  color: #b2bc8e;
}
body.page-about #content h2 {
  background: url("images/title-about.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-about #sidebar li {
  background: url("images/side-hover-about-right.png") 90% center, url("images/side-hover-about-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

body.page-private-party {
  background: url("images/wall-private-party.jpg") #ccb4d6;
  -webkit-background-size: 500px 692px;
  -moz-background-size: 500px 692px;
  -o-background-size: 500px 692px;
  background-size: 500px 692px;
}
body.page-private-party a.active, body.page-private-party a:hover {
  color: #ccb4d6;
}
body.page-private-party #content h2 {
  background: url("images/title-private-party.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-private-party #sidebar li {
  background: url("images/side-hover-private-party-right.png") 90% center, url("images/side-hover-private-party-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

body.page-info {
  background: url("images/wall-info.jpg") #afc4c7;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-info a.active, body.page-info a:hover {
  color: #afc4c7;
}
body.page-info #content h2 {
  background: url("images/title-info.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-info #sidebar li {
  background: url("images/side-hover-info-right.png") 90% center, url("images/side-hover-info-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

body.page-news, body.category {
  background: url("images/wall-news.jpg") #dbb9b4;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-news a.active, body.page-news a:hover, body.category a.active, body.category a:hover {
  color: #dbb9b4;
}
body.page-news #content h2, body.category #content h2 {
  background: url("images/title-news.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-news #sidebar li, body.category #sidebar li {
  background: url("images/side-hover-news-right.png") 90% center, url("images/side-hover-news-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  color: #826441;
  text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.page-info .brading-info {
  margin: 10px 0;
}
.page-info .symbol-info-2 {
  margin: 10px 0;
}

.page-home .frames {
  position: relative;
  width: 10px;
  margin: 0 auto;
}
.page-home .frame {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}

#frame-1 {
  -webkit-transform: translate(-364px, 80px);
  -moz-transform: translate(-364px, 80px);
  -ms-transform: translate(-364px, 80px);
  -o-transform: translate(-364px, 80px);
  transform: translate(-364px, 80px);
}

#frame-2 {
  -webkit-transform: translate(30px, 30px);
  -moz-transform: translate(30px, 30px);
  -ms-transform: translate(30px, 30px);
  -o-transform: translate(30px, 30px);
  transform: translate(30px, 30px);
}

#frame-3 {
  -webkit-transform: translate(-620px, 280px);
  -moz-transform: translate(-620px, 280px);
  -ms-transform: translate(-620px, 280px);
  -o-transform: translate(-620px, 280px);
  transform: translate(-620px, 280px);
}

#frame-4 {
  -webkit-transform: translate(-170px, 270px);
  -moz-transform: translate(-170px, 270px);
  -ms-transform: translate(-170px, 270px);
  -o-transform: translate(-170px, 270px);
  transform: translate(-170px, 270px);
}

#frame-5 {
  -webkit-transform: translate(250px, 210px);
  -moz-transform: translate(250px, 210px);
  -ms-transform: translate(250px, 210px);
  -o-transform: translate(250px, 210px);
  transform: translate(250px, 210px);
}

#frame-home {
  -webkit-transform: translate(-580px, 10px);
  -moz-transform: translate(-580px, 10px);
  -ms-transform: translate(-580px, 10px);
  -o-transform: translate(-580px, 10px);
  transform: translate(-580px, 10px);
}

#frame-about {
  -webkit-transform: translate(-190px, -20px);
  -moz-transform: translate(-190px, -20px);
  -ms-transform: translate(-190px, -20px);
  -o-transform: translate(-190px, -20px);
  transform: translate(-190px, -20px);
}

#frame-news {
  -webkit-transform: translate(-420px, 300px);
  -moz-transform: translate(-420px, 300px);
  -ms-transform: translate(-420px, 300px);
  -o-transform: translate(-420px, 300px);
  transform: translate(-420px, 300px);
}

#frame-food {
  -webkit-transform: translate(30px, 240px);
  -moz-transform: translate(30px, 240px);
  -ms-transform: translate(30px, 240px);
  -o-transform: translate(30px, 240px);
  transform: translate(30px, 240px);
}

#frame-info {
  -webkit-transform: translate(430px, 290px);
  -moz-transform: translate(430px, 290px);
  -ms-transform: translate(430px, 290px);
  -o-transform: translate(430px, 290px);
  transform: translate(430px, 290px);
}

#frame-private-party {
  -webkit-transform: translate(270px, -10px);
  -moz-transform: translate(270px, -10px);
  -ms-transform: translate(270px, -10px);
  -o-transform: translate(270px, -10px);
  transform: translate(270px, -10px);
}

@media (max-width: 1290px) {
  #frame-1 {
    -webkit-transform: translate(-253px, -119px);
    -moz-transform: translate(-253px, -119px);
    -ms-transform: translate(-253px, -119px);
    -o-transform: translate(-253px, -119px);
    transform: translate(-253px, -119px);
  }

  #frame-2 {
    -webkit-transform: translate(130px, 30px);
    -moz-transform: translate(130px, 30px);
    -ms-transform: translate(130px, 30px);
    -o-transform: translate(130px, 30px);
    transform: translate(130px, 30px);
  }

  #frame-3 {
    -webkit-transform: translate(-520px, 350px);
    -moz-transform: translate(-520px, 350px);
    -ms-transform: translate(-520px, 350px);
    -o-transform: translate(-520px, 350px);
    transform: translate(-520px, 350px);
  }

  #frame-4 {
    -webkit-transform: translate(-110px, 240px);
    -moz-transform: translate(-110px, 240px);
    -ms-transform: translate(-110px, 240px);
    -o-transform: translate(-110px, 240px);
    transform: translate(-110px, 240px);
  }

  #frame-5 {
    -webkit-transform: translate(350px, 210px);
    -moz-transform: translate(350px, 210px);
    -ms-transform: translate(350px, 210px);
    -o-transform: translate(350px, 210px);
    transform: translate(350px, 210px);
  }

  #frame-home {
    -webkit-transform: translate(-360px, 90px);
    -moz-transform: translate(-360px, 90px);
    -ms-transform: translate(-360px, 90px);
    -o-transform: translate(-360px, 90px);
    transform: translate(-360px, 90px);
  }

  #frame-about {
    -webkit-transform: translate(-90px, -20px);
    -moz-transform: translate(-90px, -20px);
    -ms-transform: translate(-90px, -20px);
    -o-transform: translate(-90px, -20px);
    transform: translate(-90px, -20px);
  }

  #frame-news {
    -webkit-transform: translate(-333px, 400px);
    -moz-transform: translate(-333px, 400px);
    -ms-transform: translate(-333px, 400px);
    -o-transform: translate(-333px, 400px);
    transform: translate(-333px, 400px);
  }

  #frame-food {
    -webkit-transform: translate(110px, 260px);
    -moz-transform: translate(110px, 260px);
    -ms-transform: translate(110px, 260px);
    -o-transform: translate(110px, 260px);
    transform: translate(110px, 260px);
  }

  #frame-info {
    -webkit-transform: translate(240px, 520px);
    -moz-transform: translate(240px, 520px);
    -ms-transform: translate(240px, 520px);
    -o-transform: translate(240px, 520px);
    transform: translate(240px, 520px);
  }

  #frame-private-party {
    -webkit-transform: translate(-100px, 540px);
    -moz-transform: translate(-100px, 540px);
    -ms-transform: translate(-100px, 540px);
    -o-transform: translate(-100px, 540px);
    transform: translate(-100px, 540px);
  }
}
@media (max-width: 910px) {
  #frame-1 {
    -webkit-transform: translate(-253px, -119px);
    -moz-transform: translate(-253px, -119px);
    -ms-transform: translate(-253px, -119px);
    -o-transform: translate(-253px, -119px);
    transform: translate(-253px, -119px);
  }

  #frame-2 {
    -webkit-transform: translate(130px, 30px);
    -moz-transform: translate(130px, 30px);
    -ms-transform: translate(130px, 30px);
    -o-transform: translate(130px, 30px);
    transform: translate(130px, 30px);
  }

  #frame-3 {
    -webkit-transform: translate(180px, 550px);
    -moz-transform: translate(180px, 550px);
    -ms-transform: translate(180px, 550px);
    -o-transform: translate(180px, 550px);
    transform: translate(180px, 550px);
  }

  #frame-4 {
    -webkit-transform: translate(-110px, 265px);
    -moz-transform: translate(-110px, 265px);
    -ms-transform: translate(-110px, 265px);
    -o-transform: translate(-110px, 265px);
    transform: translate(-110px, 265px);
  }

  #frame-5 {
    -webkit-transform: translate(-206px, 840px);
    -moz-transform: translate(-206px, 840px);
    -ms-transform: translate(-206px, 840px);
    -o-transform: translate(-206px, 840px);
    transform: translate(-206px, 840px);
  }

  #frame-home {
    -webkit-transform: translate(-350px, 120px);
    -moz-transform: translate(-350px, 120px);
    -ms-transform: translate(-350px, 120px);
    -o-transform: translate(-350px, 120px);
    transform: translate(-350px, 120px);
  }

  #frame-about {
    -webkit-transform: translate(-90px, -20px);
    -moz-transform: translate(-90px, -20px);
    -ms-transform: translate(-90px, -20px);
    -o-transform: translate(-90px, -20px);
    transform: translate(-90px, -20px);
  }

  #frame-news {
    -webkit-transform: translate(-333px, 400px);
    -moz-transform: translate(-333px, 400px);
    -ms-transform: translate(-333px, 400px);
    -o-transform: translate(-333px, 400px);
    transform: translate(-333px, 400px);
  }

  #frame-food {
    -webkit-transform: translate(110px, 260px);
    -moz-transform: translate(110px, 260px);
    -ms-transform: translate(110px, 260px);
    -o-transform: translate(110px, 260px);
    transform: translate(110px, 260px);
  }

  #frame-info {
    -webkit-transform: translate(40px, 750px);
    -moz-transform: translate(40px, 750px);
    -ms-transform: translate(40px, 750px);
    -o-transform: translate(40px, 750px);
    transform: translate(40px, 750px);
  }

  #frame-private-party {
    -webkit-transform: translate(-115px, 540px);
    -moz-transform: translate(-115px, 540px);
    -ms-transform: translate(-115px, 540px);
    -o-transform: translate(-115px, 540px);
    transform: translate(-115px, 540px);
  }
}
@media (max-width: 580px) {
  #frame-1 {
    -webkit-transform: translate(50px, 781px);
    -moz-transform: translate(50px, 781px);
    -ms-transform: translate(50px, 781px);
    -o-transform: translate(50px, 781px);
    transform: translate(50px, 781px);
  }

  #frame-2 {
    -webkit-transform: translate(20px, 230px);
    -moz-transform: translate(20px, 230px);
    -ms-transform: translate(20px, 230px);
    -o-transform: translate(20px, 230px);
    transform: translate(20px, 230px);
  }

  #frame-3 {
    -webkit-transform: translate(-210px, 512px);
    -moz-transform: translate(-210px, 512px);
    -ms-transform: translate(-210px, 512px);
    -o-transform: translate(-210px, 512px);
    transform: translate(-210px, 512px);
  }

  #frame-4 {
    -webkit-transform: translate(-260px, 955px);
    -moz-transform: translate(-260px, 955px);
    -ms-transform: translate(-260px, 955px);
    -o-transform: translate(-260px, 955px);
    transform: translate(-260px, 955px);
  }

  #frame-5 {
    -webkit-transform: translate(-10px, 1450px);
    -moz-transform: translate(-10px, 1450px);
    -ms-transform: translate(-10px, 1450px);
    -o-transform: translate(-10px, 1450px);
    transform: translate(-10px, 1450px);
  }

  #frame-home {
    -webkit-transform: translate(-70px, -20px);
    -moz-transform: translate(-70px, -20px);
    -ms-transform: translate(-70px, -20px);
    -o-transform: translate(-70px, -20px);
    transform: translate(-70px, -20px);
  }

  #frame-about {
    -webkit-transform: translate(-180px, 220px);
    -moz-transform: translate(-180px, 220px);
    -ms-transform: translate(-180px, 220px);
    -o-transform: translate(-180px, 220px);
    transform: translate(-180px, 220px);
  }

  #frame-news {
    -webkit-transform: translate(-180px, 710px);
    -moz-transform: translate(-180px, 710px);
    -ms-transform: translate(-180px, 710px);
    -o-transform: translate(-180px, 710px);
    transform: translate(-180px, 710px);
  }

  #frame-food {
    -webkit-transform: translate(0px, 450px);
    -moz-transform: translate(0px, 450px);
    -ms-transform: translate(0px, 450px);
    -o-transform: translate(0px, 450px);
    transform: translate(0px, 450px);
  }

  #frame-info {
    -webkit-transform: translate(-130px, 1240px);
    -moz-transform: translate(-130px, 1240px);
    -ms-transform: translate(-130px, 1240px);
    -o-transform: translate(-130px, 1240px);
    transform: translate(-130px, 1240px);
  }

  #frame-private-party {
    -webkit-transform: translate(-60px, 1040px);
    -moz-transform: translate(-60px, 1040px);
    -ms-transform: translate(-60px, 1040px);
    -o-transform: translate(-60px, 1040px);
    transform: translate(-60px, 1040px);
  }
}
.page-info .acf-map {
  width: 100%;
  height: 400px;
  border: #cccccc solid 1px;
  margin: 20px 0;
  position: relative;
}
.page-info #group ul {
  margin-top: 30px;
}
.page-info #group ul li {
  width: 180px;
  display: inline-block;
  margin: 0 10px;
}
.page-info #group ul li img {
  margin-bottom: 20px;
}
.page-info #group ul li a {
  display: inline-block;
  background: url("images/group-item.png") 0 0 no-repeat;
  width: 180px;
  height: 49.7191px;
  line-height: 1.2em;
  padding-top: 15px;
  -webkit-background-size: 180px 64.7191px;
  -moz-background-size: 180px 64.7191px;
  -o-background-size: 180px 64.7191px;
  background-size: 180px 64.7191px;
}

#header {
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
#header h1 a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  background: url("images/logo.svg") left center no-repeat;
  width: 502.5px;
  height: 44px;
}

#menu a {
  padding-left: 13px;
  background: url("images/menu-key.png") left 15px no-repeat;
  -webkit-background-size: 6px 12px;
  -moz-background-size: 6px 12px;
  -o-background-size: 6px 12px;
  background-size: 6px 12px;
}
#menu a:hover {
  color: #826441;
}

#container a {
  -webkit-transition: color 0.3s, background 0.5s;
  -moz-transition: color 0.3s, background 0.5s;
  -o-transition: color 0.3s, background 0.5s;
  transition: color 0.3s, background 0.5s;
}

#content {
  background: rgba(255, 255, 255, 0.8);
}
#content h2 {
  line-height: 47px;
}
#content .post .entry-date {
  display: block;
  margin-bottom: 10px;
}
#content .post h3 {
  font-size: 1.1em;
  margin-bottom: 30px;
}
#content .post img {
  margin: 5px;
}

#sidebar ul {
  margin: 50px 10px;
}
#sidebar li {
  font-size: 0.8em;
  padding: 13px 10px 12px 11px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
#sidebar li::before {
  width: 100%;
  height: 100%;
  background: url("images/side-item.png") 0 0;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
#sidebar a {
  font-weight: bold;
  display: block;
  background: white;
  padding: 5px;
  padding-top: 7px;
}
#sidebar a:hover {
  background: transparent;
}
