html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#wpadminbar {
  display: none;
}

html {
  padding-top: 88px !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  line-height: 45px;
  z-index: 9;
}
#header #site-title {
  float: left;
}
#header #menu {
  float: right;
}
#header #menu li {
  display: inline-block;
}
#header #menu a {
  display: block;
  margin-left: 50px;
}

#sidebar {
  min-width: 200px;
  width: 15%;
}
#sidebar img {
  width: 100%;
  height: auto;
}

#content {
  margin-left: 200px;
  margin-bottom: 50px;
  position: relative;
  left: 2%;
  padding: 20px;
  border: 20px solid transparent;
}
#content article {
  padding-top: 20px;
  margin-bottom: 50px;
}
#content article .symbol {
  margin-bottom: 10px;
}

body {
  font-family: Didot, times, serif;
}

p {
  font-family: times, serif;
}

#header h1 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.1em;
}
#header nav a {
  font-size: 0.8em;
}

#content {
  text-align: center;
  color: #826441;
  font-weight: bold;
}
#content h2, #content strong {
  font-size: 1.2em;
  letter-spacing: 0.3em;
}
#content p {
  font-size: 0.8em;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  font-weight: normal;
}
#content strong {
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#content h3 {
  margin-bottom: 5px;
  font-weight: bold;
}
#content h6 {
  font-size: 0.7em;
  margin-bottom: 10px;
}

body.page-home {
  background: url("images/wall-home.jpg") #efe7e4;
  -webkit-background-size: 500px 500px;
  -moz-background-size: 500px 500px;
  -o-background-size: 500px 500px;
  background-size: 500px 500px;
}
body.page-home a.active, body.page-home a:hover {
  color: #efe7e4;
}
body.page-home #content h2 {
  background: url("images/title-home.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-home #sidebar li {
  background: url("images/side-hover-home-right.png") 90% center, url("images/side-hover-home-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

body.page-about {
  background: url("images/wall-about.jpg") #b2bc8e;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-about a.active, body.page-about a:hover {
  color: #b2bc8e;
}
body.page-about #content h2 {
  background: url("images/title-about.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-about #sidebar li {
  background: url("images/side-hover-about-right.png") 90% center, url("images/side-hover-about-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

body.page-private-party {
  background: url("images/wall-private-party.jpg") #ccb4d6;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-private-party a.active, body.page-private-party a:hover {
  color: #ccb4d6;
}
body.page-private-party #content h2 {
  background: url("images/title-private-party.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-private-party #sidebar li {
  background: url("images/side-hover-private-party-right.png") 90% center, url("images/side-hover-private-party-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

body.page-info {
  background: url("images/wall-info.jpg") #afc4c7;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-info a.active, body.page-info a:hover {
  color: #afc4c7;
}
body.page-info #content h2 {
  background: url("images/title-info.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-info #sidebar li {
  background: url("images/side-hover-info-right.png") 90% center, url("images/side-hover-info-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

body.page-news, body.category {
  background: url("images/wall-news.jpg") #dbb9b4;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-news a.active, body.page-news a:hover, body.category a.active, body.category a:hover {
  color: #dbb9b4;
}
body.page-news #content h2, body.category #content h2 {
  background: url("images/title-news.png") center center no-repeat;
  -webkit-background-size: 450px 47px;
  -moz-background-size: 450px 47px;
  -o-background-size: 450px 47px;
  background-size: 450px 47px;
}
body.page-news #sidebar li, body.category #sidebar li {
  background: url("images/side-hover-news-right.png") 90% center, url("images/side-hover-news-left.png") 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: 15px 19px, 15px 19px;
  -moz-background-size: 15px 19px, 15px 19px;
  -o-background-size: 15px 19px, 15px 19px;
  background-size: 15px 19px, 15px 19px;
}

.shadow, .shadow-light, img {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.shadow {
  -webkit-filter: drop-shadow(1px 2px 1px black);
  -moz-filter: drop-shadow(1px 2px 1px black);
  filter: drop-shadow(1px 2px 1px black);
}

.shadow-light {
  -webkit-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.7));
  -moz-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.7));
}

a {
  color: #826441;
  text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#header {
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
#header h1 a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  background: url("images/logo.svg") left center no-repeat;
  width: 502.5px;
  height: 44px;
}

#menu a {
  padding-left: 13px;
  background: url("images/menu-key.png") left 15px no-repeat;
  -webkit-background-size: 6px 12px;
  -moz-background-size: 6px 12px;
  -o-background-size: 6px 12px;
  background-size: 6px 12px;
}
#menu a:hover {
  color: #826441;
}

#container a {
  -webkit-transition: color 0.3s, background 0.5s;
  -moz-transition: color 0.3s, background 0.5s;
  -o-transition: color 0.3s, background 0.5s;
  transition: color 0.3s, background 0.5s;
}

#content {
  background: rgba(255, 255, 255, 0.8);
}
#content h2 {
  line-height: 47px;
}
#content .post .entry-date {
  display: block;
  margin-bottom: 10px;
}
#content .post h3 {
  font-size: 1.1em;
  margin-bottom: 30px;
}
#content .post img {
  margin: 5px;
}

#sidebar ul {
  margin: 50px 10px;
}
#sidebar li {
  font-size: 0.8em;
  padding: 13px 10px 12px 11px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
#sidebar li::before {
  width: 100%;
  height: 100%;
  background: url("images/side-item.png") 0 0;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
#sidebar a {
  font-weight: bold;
  display: block;
  background: white;
  padding: 5px;
  padding-top: 7px;
}
#sidebar a:hover {
  background: transparent;
}

.page-info .brading-info {
  margin: 10px 0;
}
.page-info .symbol-info-2 {
  margin: 10px 0;
}

.page-home .frames {
  text-align: center;
}
.page-home .frame {
  margin-right: 30px;
  margin-bottom: 30px;
}
