html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#wpadminbar {
  display: none;
}

html {
  padding-top: 58px !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  line-height: 45px;
}
#header #site-title {
  float: left;
}
#header #menu {
  float: right;
}
#header #menu li {
  display: inline-block;
}
#header #menu a {
  display: block;
  padding: 0 20px;
}

#sidebar {
  min-width: 200px;
  width: 15%;
}
#sidebar img {
  width: 100%;
  height: auto;
}

#content {
  margin-left: 200px;
  position: relative;
  left: 2%;
  padding: 20px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Didot, times, serif;
}

p {
  font-family: times, serif;
}

#header h1 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2em;
}
#header nav a {
  font-size: 0.8em;
}

#content {
  text-align: center;
}

body.page-home {
  background: url("images/wall-home.jpg") #efe7e4;
  -webkit-background-size: 500px 500px;
  -moz-background-size: 500px 500px;
  -o-background-size: 500px 500px;
  background-size: 500px 500px;
}
body.page-home a.active, body.page-home a:hover {
  color: #efe7e4;
}

body.page-about {
  background: url("images/wall-about.jpg") #b2bc8e;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-about a.active, body.page-about a:hover {
  color: #b2bc8e;
}

body.page-private-party {
  background: url("images/wall-private-party.jpg") #ccb4d6;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-private-party a.active, body.page-private-party a:hover {
  color: #ccb4d6;
}

body.page-info {
  background: url("images/wall-info.jpg") #afc4c7;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-info a.active, body.page-info a:hover {
  color: #afc4c7;
}

body.page-news {
  background: url("images/wall-news.jpg") #dbb9b4;
  -webkit-background-size: 200px 300px;
  -moz-background-size: 200px 300px;
  -o-background-size: 200px 300px;
  background-size: 200px 300px;
}
body.page-news a.active, body.page-news a:hover {
  color: #dbb9b4;
}

a {
  color: #826441;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

#header {
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

main {
  background: rgba(255, 255, 255, 0.8);
}

#sidebar ul {
  margin: 50px 10px;
}
#sidebar li {
  font-size: 0.8em;
  padding-bottom: 15px;
  padding-top: 18px;
  text-align: center;
  margin-bottom: 10px;
  background: url("images/side-item.png") 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
#sidebar a {
  font-weight: bold;
}
